.PeerVersions .PercentBar {
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 1;
}

.PeerVersions dd {
}

.PeerVersions .PeerData {
  z-index: 2;
}
