#Navigation {
  color: #fff;
  max-width: 1680px;
  margin: 0 auto;
}

#Navigation .LogoWrap {
  text-align: center;
  max-width: 200px;
}

#Navigation .LogoWrap img {
  width: 90px;
}

/*#Navigation .LogoWrap svg {
  width: 75%;
}*/

#Navigation .LogoWrap svg .st1 {
  fill: #fff;
}

.NavigationList {
  margin-left: -1rem;
}

.NavigationList li a {
  color: #fff;
}

.NavigationList li a.active {
  font-weight: bold;
}
