.network-difficulty .intensity-0 {
  color: #212529;
}

.network-difficulty .intensity-1 {
  color: #3f4d5a;
}

.network-difficulty .intensity-2 {
  color: #456584;
}

.network-difficulty .intensity-3 {
  color: #3471ab;
}

.network-difficulty .intensity-4 {
  color: #177ee0;
}

.network-difficulty .intensity-5 {
  color: #0083ff;
}
