.tps-counter.intensity-0 {
  color: #212529;
}

.tps-counter.intensity-1 {
  color: #3f4d5a;
}

.tps-counter.intensity-2 {
  color: #456584;
}

.tps-counter.intensity-3 {
  color: #3471ab;
}

.tps-counter.intensity-4 {
  color: #177ee0;
}

.tps-counter.intensity-5 {
  color: #0083ff;
}
